/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );


@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  font-size : 1em;
}
.main{
  background: url(bg.png);
  background-attachment: fixed;
  aspect-ratio: cover !important;
}
.pr{
  width: 100%;
  height: 100%;
}
.Slide{
  justify-content: center;
}
.Slide h2{
  font-size: 3rem;
}
.title{
  font-size: 2rem;
  font-weight: 450;
  padding-inline: 10px;
}
.about{
  display: none;
}
@keyframes updown {
  0%{top: 0%;}
  25%{top:-2.5%;}
  50%{top: 0%;}
  75%{top: 0%;}
  100%{top: 0%;}
}
@media only screen and (max-width: 600px) {
  .Slide{
    max-height: 300px;
  }
  .Slide h2{
    font-size: 2.76rem;
  }
  .banner {
    opacity: .9;
    text-align: center;
    justify-content: center;
  }
  .banner p{
    display: none !important;
  }
  .about{
    display: flex;
    font-size: .9rem; 
    opacity: .9;
  }
  .about p{
    color: #1e1e1e;
  }
}

.banner{
  text-shadow: 2px 2px 2px #1e1e1e;
  position: relative;
  animation-name: updown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.banner p {
    font-size: 1.4rem;
}
.card:hover{
  top: -2%;
  cursor: pointer;
  background: #c2c2c2;
  animation-name: updown;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
}
.newPost {
  position: fixed;
  width: 50px;
  height: 50px;
  z-index: 999;
  inset-block-end: 5%;
  inset-inline-end: 40px;
}

// Navbar
#hamburger-menu{
  display: none;
}
#mobile-menu{
  display: none;
}
@media screen and (max-width: 750px) {
  #main-menu {
    display: none;
  }
  #mobile-menu {
    display:grid;
    align-items: start;
  }
  #hamburger-menu {
    display: inline;
  }
}
.logo :hover{
  cursor: pointer;
}
.logo{
  background: transparent;
}
// =====================

.banner-about {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

// text
.text-about-right {
  float: right !important;
}
.text-about-left {
  float: left !important;
}

.text-about-left h1 {
font-size: 46px;
width: 640;
position: relative;
}

.text-about-right h1 {
font-size: 46px;
width: 640;
position: relative;
}

//  p
.text-about-left p {
font-size: 108%;
}

.text-about-right p {
font-size: 108%;
}



// img div

.images-about-right {
float: right;
}
.images-about-left {
float: left;
}

//  img
.images-about_right {
  object-fit: cover;
  width: 390px   ;
  height: 470px;
  border-radius: 100% 20% 20% 100%;
}

.images-about_left {
  object-fit: cover;
  width: 390px   ;
  height: 470px ;
  border-radius: 20% 100% 100% 20%;
}